/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .logo {
        margin-bottom: 16px;
    }
    .social_link {
        display: none;
    }
    #slider {
        padding: 100px 0;
    }
    .c_indicators {
        top: 110%;
    }
    .sl_content h1 {
        font-size: 26px;
    }
    .sl_content p {
        width: 100%;
        margin: 20px 0;
    }
    #about {
        padding: 0 0 40px;
    }
    .a_single {
        padding: 20px 0;
    }
    .a_content {
        padding: 0;
        margin-top: 40px;
    }
    .a_content h2 {
        font-size: 20px;
    }
    #portfolio,
    .process,
    #service,
    #blog {
        padding: 40px 0;
    }
    .title {
        font-size: 22px;
    }
    #portfolio ul li {
        display: block;
    }
    #portfolio ul li button {
        width: 100%;
    }
    #review {
        padding: 40px 0 60px;
    }
    .b_single {
        padding: 20px 15px;
    }
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .logo {
        margin-bottom: 16px;
    }
    .social_link {
        display: none;
    }
    .sl_content h1 {
        font-size: 30px;
    }
    .a_content {
        padding: 0;
        margin-top: 60px;
    }
    .title {
        font-size: 28px;
    }
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .logo {
        margin-bottom: 16px;
    }
    .social_link {
        display: none;
    }
    .sl_content h1 {
        font-size: 34px;
    }
    .a_content {
        padding: 0;
        margin-top: 60px;
    }
    .title {
        font-size: 35px;
    }
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {}
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}