body {
    font-family: 'Open Sans', sans-serif;
    color: #2d3f51;
}
/*navigation start*/
header {
    padding-top: 15px;
}
.parallax-window {
    min-height: 100px;
    background: transparent;
}
.logo {
    font-size: 20px;
    color: #fff !important;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #000;
}
.social_link ul li a {
    font-size: 18px;
    color: #fff !important;
    padding: 0 12px !important;
    transition: 0.3s ease;
}
.social_link ul li a:hover {
    color: #c8342d !important;
}
.menu ul li a {
    color: #fff !important;
    text-transform: uppercase;
    margin: 0 5px;
    border: 1px solid transparent;
    transition: 0.3s linear;
}
.menu ul li:last-child a {
    margin-right: 0;
}
.menu ul li a:hover {
    border: 1px solid #fff;
    border-radius: 5px;
}
.dd_toggle::after {
    border: none;
}
.dd_menu {
    min-width: 200px;
}
.dd_item {
    padding: 0 15px;
}
.dd_item:hover {
    background-color: transparent;
}
/*navigation end*/
/*slider start*/
#slider {
    color: #fff;
    padding: 200px 0;
}
.c_indicators {
    top: 120%;
}
.c_indicators li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.sl_content {
    text-align: center;
}
.sl_content h1 {
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}
.sl_content h1 span {
    color: #c8342d;
}
.sl_content p {
    width: 80%;
    margin: 20px auto;
}
.sl_content a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
/*slider end*/
/*about start*/
#about {
    padding: 80px 0;
}
.mtop {
    margin-top: 40px;
}
.subtitle {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.cmn_a {
    font-weight: 700;
    color: #2d3f51;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s ease-in;
}
.cmn_a:hover {
    color: #c8342d;
    text-decoration: none;
}
.ab_img1 {
    background-image: url(../images/about1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 250px;
}
.ab_img2 {
    background-image: url(../images/about2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 250px;
}
.ab_img3 {
    background-image: url(../images/about3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 250px;
}
.a_content {
    padding: 0 40px;
}
.a_content h2 {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.a_content h2 span {
    font-weight: 400;
}
.cmn_btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background-color: #c8342d;
    transition: 0.3s ease;
}
.cmn_btn:hover {
    color: #fff;
    background: #dc3545;
}
/*about end*/
/*portfolio start*/
#portfolio {
    padding: 80px 0;
    text-align: center;
    background: #f5f5f5;
}
.title {
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
}
#portfolio ul {
    margin: 40px 0 60px;
}
#portfolio ul li button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s ease;
}
#portfolio ul li button:focus {
    box-shadow: none;
}
#portfolio ul li button:hover,
.mixitup-control-active {
    color: #c8342d;
}
#portfolio img {
    margin-bottom: 40px;
}
/*portfolio end*/
/*process start*/
.process {
    color: #fff;
    padding: 80px 0;
    text-align: center;
    background: #2d3f51;
}
.p_single {
    margin-top: 40px;
}
.p_single svg polygon {
    fill: transparent;
    stroke: #fff;
    stroke-width: 3;
    transition: 0.3s linear;
}
.p_single svg polygon:hover {
    stroke: #c8342d;
}
.p_single p {
    text-transform: uppercase;
}
/*process end*/
/*service start*/
#service {
    padding: 80px 0;
    text-align: center;
}
.s_single {
    margin-top: 40px;
}
.s_single i:before {
    font-size: 46px;
    margin: 0;
    color: #c8342d;
}
/*service end*/
/*review start*/
#review {
    padding: 80px 0;
    color: #fff;
    text-align: center;
}
#review .c_indicators {
    top: 105%;
}
.r_single {
    margin-top: 40px;
}
.r_single h2 {
    font-size: 18px;
    font-weight: 700;
    color: #c8342d;
    margin-top: 20px;
}
.r_single i {
    color: #c8342d;
}
/*review end*/
/*blog start*/
#blog {
    padding: 80px 0;
    background: #f5f5f5;
}
.b_img {
    background-image: url(../images/blog.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 315px;
}
.b_single {
    background-color: #fff;
    padding: 20px;
}
.b_single small {
    font-weight: 700;
    color: #c8342d;
}
.b_single small span {
    margin-left: 20px;
}
.b_single h2 {
    margin: 16px 0;
}
/*blog end*/
/*footer start*/
footer {
    padding: 25px 0 10px;
    background: #28252a;
}
footer ul li a {
    color: #fff;
    text-transform: uppercase;
    padding: 0 10px;
    transition: 0.3s ease-in;
}
footer ul li a:hover {
    color: #c8342d;
    text-decoration: none;
}
footer ul li a i {
    color: #c8342d;
}
footer ul li a i:hover {
    color: #fff;
}
/*footer end*/